.container {
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}

.icon {
    height: 40px;
    width: 40px;
}

.limit {
    position: absolute;
    right: 3px;
    top: 3px;
}
