.container {
    position: relative;

    span {
        height: 30px;
        border-radius: 5px;
    }

    & > span:first-child {
        color: white;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        z-index: 1;
        line-height: 30px;
    }
} 
